<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Winkelwagen</li>
</ol>

<section class="row-fluid">
  <div class="page-header text-center"><h1>Winkelwagen</h1></div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Aantal</th>
          <th>Product</th>
          <th>Prijs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in purchaseReceipt.lineItems">
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.description }}</td>
          <td>{{ item.totalCost | number: 2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
